// Borders

$border-radius-square: 2px;
$border-radius-rounded: 6px;

// Containers

$container-padding-sm: 8px;
$container-padding-md: 12px;
$container-padding-lg: 16px;

// Buttons

$button-padding-vertical-sm: 6px;
$button-padding-vertical-md: 10px;
$button-padding-vertical-lg: 14px;

$button-padding-horizontal-sm: 12px;
$button-padding-horizontal-md: 14px;
$button-padding-horizontal-lg: 16px;

// Input

$input-height-sm: 34px;
$input-height-md: 40px;
$input-height-lg: 46px;
