// Containers

$container-padding-sm: 8px;
$container-padding-md: 12px;
$container-padding-lg: 16px;

// Buttons

$button-padding-vertical-sm: 4px;
$button-padding-vertical-md: 8px;
$button-padding-vertical-lg: 12px;

$button-padding-horizontal-sm: 8px;
$button-padding-horizontal-md: 12px;
$button-padding-horizontal-lg: 16px;
